<h1>Past Orders</h1>
<hr>
<div id='messages'>

</div>



  {{#each this}}
  <div class="container">
  <div class="row-0">
    <div class="col-xs-12 past-order-content">
      <p> Ordered on:  {{purchase_date}}</p>
    </div>

        {{#each cart}}
        <div class="col-0-0 past-order-content">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{this.image_url}}" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{this.title}}</h4>
              <p>{{this.description}}</p>
              <p>Size: {{this.size}} // Quantity: {{this.quantity}} // Price: ${{this.price}}</p>
            </div>
          </div>
        </div>

          <div class="col-0-1">
              <p>${{this.line_price}}</p>
          </div>
        {{/each}}


        <div class="col-0-0">
            <p class="text-right">Tax: </p>
        </div>

      <div class="col-0-1">
        <p>${{tax}}0</p>
      </div>
        <div class="col-0-0">
            <p class="text-right">Ship: </p>
        </div>

      <div class="col-0-1">
        <p>${{shipping}}0</p>
      </div>
        <div class="col-0-0">
            <p class="text-right">Total: </p>
        </div>

      <div class="col-0-1">
        <p>${{total_price}}0</p>
      </div>

      </div>

    </div>
  {{/each}}
</div>
