<h1>Products</h1>
<hr>
<div id='messages'>
  Not a message.
</div>
<hr>

<div class="row">

  {{#each this}}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <h1><small>{{title}}</small></h1>
      <img src="{{image_url}}">
      <p>${{price}}</p>
      <form class="purchase">
        <select name="Size">
          {{#each sizes}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        <select name="Quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      <button type="submit" class="btn btn-default">Add to Cart</button>
    </form>
    </div>
  {{/each}}

</div>
