<div class="container-fluid product">
  <div class="row visible-xs">
    <div class="col-xs-12 text-center">
      <h2 class="product-title">{{title}}</h2>
      <div class="product-price">
        <span class="price">{{price}}</span>
      </div>
    </div>
  </div>
  <div class="container-fluid hidden-xs">
  <div class="row">
    <ol class="breadcrumb">
      <li><a id="home-crumb">Home</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </div>
</div>
  <div class="row">
    <div class="col-sm-7 col-offset-1">
      <img src="{{image_url}}" class="product-img show-product-padding img-responsive" alt="item">
    </div>
    <div class="col-sm-4 ">
      <h2 class="product-title hidden-xs">{{title}}</h2>
      <div class="product-price hidden-xs">
        <span class="price">{{price}}</span>
      </div>
      <div class="product-detail">
        <p>{{description}}</p>
        <ul>
          <li>Fitted</li>
          <li>True to size</li>
          <li>European sizing</li>
        </ul>
      </div>
      <form class="purchase myform">
        <div class="form-group clearfix">
          <input type="hidden" name="title" value="{{title}}">
          <input type="hidden" name="description" value="{{description}}">
          <input type="hidden" name="price" value="{{price}}">
          <input type="hidden" name="image_url" value="{{image_url}}">
          <label class="control-label">Size</label>
          <select class="form-control" name="size">
									{{#each sizes}}
                		<option value="{{this}}">{{this}}</option>
                  {{/each}}
								</select>
        </div>

        <div class="form-group clearfix">
          <label class="control-label">Size</label>
          <select class="form-control" name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
            </select>
        </div>
        <div class="product-btn">
          <button id="add-to-cart-button" type="submit" class="btn btn-default pull-right" onclick="this.blur();">Add to Cart</button></option>
          <div id="product-message"></div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="paging clearfix text-center">
        <a class="btn btn-outline" id="home-crumb-footer">Back to Home</a>
      </div>
    </div>
  </div>

</div>
