<h1>Cart</h1>
<hr>
<div id='messages'>
  Not a message.
</div>
<hr>

<div class="row cart-row">
  <div class="col-sm-8 col-offset-1 cart-contents">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Size</th>
          <th class="text-center">Update</th>
          <th class="text-right">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
          <tr>

            <form class="cart-form">
              <input type="hidden" name="_id" value="{{_id}}">
              <td class="vert-align">{{title}}</td>
              <td class="vert-align">{{price}}</td>
              <td class="text-center vert-align">
                <select class="form-control cart-dropdown" value="{{quantity}}" name="cart-quantity" id="{{_id}}-quantity">
                  <option value="{{quantity}}" selected disabled>{{quantity}}</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </td>
              <td class="text-center vert-align">
                <select class="form-control cart-dropdown" value="{{size}}" name="size" id="{{_id}}-size">
                  <option value="{{size}}">{{size}}</option>
                  <option value="XXS">XXS</option>
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                </select>
              </td>
              <td class="text-center vert-align">
                <button type="button" class="btn btn-default update-cart-button" data-id="{{_id}}">Update</button>
              </td>
              <td class="text-right vert-align">{{price}}{{quantity}}</td>
              <td class="text-center vert-align destroy-cart-product-button" data-id="{{_id}}"><i class="remove-item"><i class="glyphicon glyphicon-remove"></i></td>
            </form>

          </tr>
          {{else}}
            <tr>
              <td colspan="5">
                <h2 class="text-center">Your cart is empty.</h2>
              </td>
            </tr>
        {{/each}}
      </tbody>
    </table>
  </div>



  <div class="col-sm-3 pull-right">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3" class="text-center">Order Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sub total:</td>
          <td id="sub-total"></td>
          <td class="text-right"><b></b></td>
        </tr>
        <tr>
          <td>Shipping:</td>
          <td id="shipping"></td>
          <td class="text-right"></td>
        </tr>
        <tr>
          <td>Tax:</td>
          <td id="tax"></td>
          <td class="text-right"></td>
        </tr>
        <tr>
          <td>Total:</td>
          <td id="total"></td>
          <td class="text-right"></td>
        </tr>
      </tbody>
    </table>

    <a id="checkout-button" class="btn btn-right checkout-button">Checkout</a>
  </div>
</div>
